<html>
	<head>
		<style type="text/css">
			html
			{
				min-height: 100%;
			}
			body
			{
        			background: #c0e2e4;
				background-image: url('https://twimg0-a.akamaihd.net/profile_images/1260043943/nom_con_2011_by_kitten_chan-d350jvw.jpg');
				background-repeat: no-repeat;
				background-position: bottom left;
			}
			div
			{
				font-family: arial;
				font-size: 12px;
			}
			div.register_div
			{
				font-family: arial;
				font-weight: bold;
				font-size: 16px;
			}
		</style>
		{% block extrahead %}
		{% endblock %}
	</head>
	<body>
		<div id="PageContainer">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>