{% extends "base.html" %}
{% block content %}

	<form action="" method="post">
	{% csrf_token %}

	{% if form.errors %}<p><h1>Please correct the following fields:</h1></p>{% endif %}
	
	<div class="register_div">
	    {% if form.name.errors %}<p class="error">{{ form.name.errors }}<br/></p>{% endif %}
	    <p><label for="name"{% if form.name.errors %} class="error"{% endif %}>Name:</label></p>
	    <p>{{ form.name }}</p>
	</div>

	<div class="register_div">
	    {% if form.description.errors %}<p class="error">{{ form.description.errors }}<br/></p>{% endif %}
	    <p><label for="description"{% if form.description.errors %} class="error"{% endif %}>Description:</label></p>
	    <p>{{ form.description }}</p>
	</div>

	<div class="register_div">
		{% if form.time.errors %}<p class="error">{{ form.time.errors }}<br/></p>{% endif %}
		<p><label for="time"{% if form.time.errors %} class="error"{% endif %}>Time / Date
		<!--[if IE]>
			(Format:dd/mm/yyyy hh:mm)
		<![endif]-->
		:</label></p>

		<div id="time" class="input-append date">
					{{ form.time  }}
			<!--[if !IE]><!-->
			<span class="add-on">
				<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			</span>
		 	<!--<![endif]-->
		</div>
		<!--[if !IE]><!-->
		<script type="text/javascript" src="{{baseUrl}}static/js/jquery-1.9.1.min.js"></script> 
		<script type="text/javascript" src="{{baseUrl}}static/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{baseUrl}}static/js/bootstrap-datetimepicker.min.js"></script>
		<script type="text/javascript">
		  $('#time').datetimepicker({
			format: 'dd/MM/yyyy hh:mm',
			language: 'en-US'
		  });
		</script>
		 <!--<![endif]-->
	</div>

	<div class="register_div">
		{% if form.end_time.errors %}<p class="error">{{ form.end_time.errors }}<br/></p>{% endif %}
		<p><label for="end_time"{% if form.end_time.errors %} class="error"{% endif %}>End Time
		<!--[if IE]>
			(Format:dd/mm/yyyy hh:mm)
		<![endif]-->

		:</label></p>

		<div id="end_time" class="input-append date">
					{{ form.end_time  }}
			<!--[if !IE]><!-->
			<span class="add-on">
				<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			</span>
		 	<!--<![endif]-->
		</div>
		<!--[if !IE]><!-->
		<script type="text/javascript" src="{{baseUrl}}static/js/jquery-1.9.1.min.js"></script> 
		<script type="text/javascript" src="{{baseUrl}}static/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{baseUrl}}static/js/bootstrap-datetimepicker.min.js"></script>
		<script type="text/javascript">
		  $('#end_time').datetimepicker({
			format: 'dd/MM/yyyy hh:mm',
			language: 'en-US'
		  });
		</script>
		 <!--<![endif]-->
	</div>

	<div class="register_div">
	    {% if form.location.errors %}<p class="error">{{ form.location.errors }}<br/></p>{% endif %}
	    <p><label for="name"{% if form.location.errors %} class="error"{% endif %}>Location:</label></p>
	    <p>{{ form.location }}</p>
	</div>

	
	<p><input type="submit" alt="register" value="Submit" /></p>
	</form>

	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

{% endblock %}
