{% extends "base.html" %}
{% block content %}
{%if msg != "0"%}
	Deleted invite {{ msg }}. <a href="{{baseUrl}}invite/new/{{msg}}">Undo</a>
{%endif%}
<br/>
{%for i in invs%}
	<a class="invite" href="{{baseUrl}}register/{{i}}">{{i}}</a> - Created: {{ i.date }} - <a href="{{baseUrl}}invite/delete/{{i}}">Delete</a><br/>
{%endfor%}

<script type="text/javascript">
var anchors = document.getElementsByTagName("A");
for (var i = 0; i < anchors.length; i++) {
	if(anchors[i].className == "invite")
		anchors[i].innerHTML = anchors[i].href;
}
</script>

<br/>
<br/>
<a href="{{baseUrl}}invite/new/"> Make new invite </a>
{% endblock %}
