{% extends "base.html" %}
{% block content %}
<h3>{{con_user}}'s profile</h3>

<a href="{{baseUrl}}change_pass/{{con_user.id}}">Change Password</a>
<br/>

{% if cons %}
	{% for conference in cons %}
	{% if not conference.enabled %} <strike> {% endif %} {{ conference }}
	
	{% if request.user.is_superuser and request.user != conference.user %} 
		(User: {{conference.user}}) 
	{% endif %}
	
	{% if not conference.enabled %} </strike> Deleted - 
		<form action="{{baseUrl}}restore_con/{{conference.id}}" class="prettybutton">  <input type="submit" value="Restore" class="prettybutton"> </form> 
		<form action="{{baseUrl}}nuke_con/{{conference.id}}" class="prettybutton">  <input type="submit" value="Fully delete (irreversible)" class="prettybutton"> </form> 
	{% else %} 

	<form action="{{baseUrl}}manage_maps/{{conference.id}}" class="prettybutton">  <input type="submit" value="Manage Maps" class="prettybutton"> </form> 
	<form action="{{baseUrl}}edit_con/{{conference.id}}" class="prettybutton">  <input type="submit" value="Edit" class="prettybutton"> </form> 
	<form action="{{baseUrl}}manage_events/{{conference.id}}" class="prettybutton">  <input type="submit" value="Manage Events" class="prettybutton"> </form> 
	<form action="{{baseUrl}}delete_con/{{conference.id}}" class="prettybutton">  <input type="submit" value="Delete" class="prettybutton"> </form> 
	{% endif %}<br/><br>

	{% endfor %}
{% endif %}
<p><a href="{{baseUrl}}reg_con/">Add a Conference</a></p>

{% endblock %}
